body {
    margin: 0;
    font-family: "Courier New", monospace;
    color: white;
    background-color: rgb(40, 40, 40);
}

.container {
    display: block;
    line-height: 24px;
    color: black;
    font-size: 16px;
    box-sizing: border-box;
    height: auto;
    width: 500px;
    margin: 14vh auto 0;
}
.cntr {
    border: 4px solid yellow;
    background-color:yellowgreen;
    border-radius: 5px;
    padding: 10px;
}
      
#ipData {
    margin-top: 30px;
    padding: 10px;
    /* background-color: rgba(105, 189, 137, 0.205);     */
    /* border: 2px solid blue; */
    border-radius: 5px;
    line-height: 1px;
    /* height: 300px; */
    overflow: auto;
    /* background-color: gainsboro; */
    background-color: black;
    border: 4px solid red;
}


input {
    padding: 10px;
    font-family: inherit;
    cursor: text;
    border: 2px solid black;
    border-radius: 8px;
    
}

button {
    padding: 5px;
    margin-top: 15px;
    font-family: inherit;
    font-weight: bold;
    /* color: inherit; */
    outline: none;
    cursor: pointer;
}

button.details {
    float: right;
}

.hide {
    display: none;
}

#errText {
    color: white;
    background-color: red;
}

img {
    height: 10px;
    width: 20px;
}

b {
    color: white;
}

.icon {
    color: blueviolet;
}
 
.btn {
    position: relative;
    bottom: 30px;
    left: 0px;
    color: white;
    border: 1px solid white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    
}

.btn:hover {
    background-color: darkblue;
    color: yellow;
    cursor: pointer;
}